@mixin henris-input-default() {
	max-width: 100%;
	border-width: $form-border-width;
	border-style: $form-border-style;
	border-color: $form-border-color;
	border-radius: $form-border-radius;
	background: $form-body-color;
	font-size: 1rem;
	font-family: inherit;
	line-height: $form-input-line-height;
	-webkit-appearance: none;
	padding: $form-input-padding;
	color: $form-text-color;
	&::placeholder {
		color: $form-text-placeholder-color;
		opacity: 0.5;
		transition: opacity 0.3s;
	}
	&:focus {
		background: $form-body-focus;
		color: $form-text-focus-color;
		border-color: $form-border-focus-color;
		outline: $form-outline-focus;
	}
	&:focus,
	&:focus:hover {
		background: $form-body-focus-hover;
		color: $form-text-focus-hover-color;
		border-color: $form-border-focus-hover-color;
		&::placeholder {
			opacity: 0;
		}
	}
	&:hover {
		background: $form-body-hover;
		color: $form-text-hover-color;
		border-color: $form-border-hover-color;
	}
}
@mixin henris-input-ghost() {
	background-color: transparent;
	color: currentColor;
	@if variable-exists(colors) {
		@if output('form-input-colored') {
			@each $color-name, $color-value in $colors {
				.bg-#{to-lower-case($color-name)} &,
				.bg-#{$color-name} & {
					border-color: contra($color-name);
					color: contra($color-name);
				}
			}
		}
	}
}
