// Body

$form-body-color: var(
	--form-body,
	var(--color-light, #{$base-color-light})
) !default;

$form-body-hover: var(--form-body-hover, #{$form-body-color}) !default;

$form-body-focus-hover: var(
	--form-body-focus-hover,
	#{$form-body-color}
) !default;

$form-body-focus: var(--form-body-focus, #{$form-body-color}) !default;

// Text
$form-text-color: var(--form-text-color, #{$form-input-text-color});
$form-text-hover-color: var(
	--form-text-hover-color,
	var(--form-text-color, #{$form-input-text-color})
) !default;

$form-text-focus-color: var(
	--form-text-focus-color,
	var(--form-text-color, #{$form-input-text-color})
) !default;
$form-text-focus-hover-color: var(
	--form-text-focus-hover-color,
	var(--form-text-color, #{$form-input-text-color})
) !default;

$form-text-placeholder-color: var(
	--form-text-placeholder-color,
	var(--form-text-color, #{$form-input-text-color})
) !default;

// Border

$form-border-style: var(--form-border-style, solid) !default;
$form-border-color: var(
	--form-border-color,
	var(--color-dark, #{rgba($base-color-dark, 0.25)})
) !default;
$form-border-hover-color: var(
	--form-border-hover-color,
	var(--color-dark, #{rgba($base-color-dark, 0.5)})
) !default;
$form-border-focus-color: var(
	--form-border-focus-color,
	var(--color-dark, #{$base-color-primary})
) !default;
$form-border-focus-hover-color: var(
	--form-border-focus-color,
	var(--color-dark, #{$base-color-primary})
) !default;
$form-border-width: var(
	--form-border-width,
	var(--border-width, #{$form-input-border-width})
) !default;
$form-border-radius: var(
	--form-border-radius,
	var(--border-radius, #{$form-input-border-radius})
) !default;
$form-outline-focus: var(--outline-focus, var(--form-outline-focus));
$form-shadow-color: var(
	--form-shadow,
	var(--color-shadow, #{$base-color-shadow})
) !default;
$form-accent-color: var(
	--form-accent,
	var(--color-primary, #{$base-color-primary})
) !default;

// Input

$form-input-padding: var(--form-input-padding, #{$form-input-padding}) !default;
$form-input-line-height: var(
	--form-input-line-height,
	#{$form-input-line-height}
) !default;

// Search
$search-icon-color: var(--search-icon-color, currentColor) !default;

// Select
$select-arrow-size: var(--select-arrow-size, 0.3rem) !default;
$select-arrow-color: var(--select-arrow-color, currentColor) !default;
