
@mixin input-element($el, $inputtype: null) {
	$type: "";
	@if $inputtype == null {
		$type: "";
	} @else {
		$type: "[type=#{$inputtype}]";
	}
	@if $el == "body" {
		@include parent {
			input#{$type} + label {
				&::before {
					@content;
				}
			}
		}
	} @else if $el == "label" {
		@include parent {
			input#{$type} + label {
				@content;
			}
		}
	} @else if $el == "focus" {
		input#{$type}:focus + label {
			@content;
		}
	} @else if $el == "check" {
		@include parent {
			input#{$type} + label::after {
				@content;
			}
		}
	} @else if $el == "check-checked" {
		@include parent {
			input#{$type}:checked + label::after {
				@content;
			}
		}
	} @else if $el == "body-checked" {
		input#{$type}:checked + label {
			&::before {
				@content;
			}
		}
	} @else if $el == "label-checked" {
		@include parent {
			input#{$type}:checked + label {
				@content;
			}
		}
	}
}
